body {
  background: coral;
  font: menu;
  font-size: 16px;
  padding: 10px;
}

/**
 * Thumbnails
 */

#thumbnails img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.selected {
  border: 2px solid blue;
}

.small {
  width: 150px;
  height: 150px;
}

.medium {
  width: 300px;
  height: 300px;
}

.large {
  width: 500px;
  height: 500px;
}
